
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MechanicsToolkit.csproj.CopyComplete
obj/Debug/MechanicsToolkit.csproj.CoreCompileInputs.cache
obj/Debug/MechanicsToolkit.csproj.FileListAbsolute.txt
obj/Debug/MechanicsToolkit.csprojResolveAssemblyReference.cache
obj/Debug/MechanicToolkit.dll
obj/Debug/MechanicToolkit.pdb
